.name2{
    color: #fff;
    background-color: #1d428a;
    text-align: center;
    font-weight: 700;
    font-family: "Open Sans","arial","Apple SD Gothic Neo","Noto Sans CJK KR","본고딕","KoPubDotum","나눔바른고딕","나눔고딕","NanumGothic","맑은고딕","Malgun Gothic",sans-serif;
}
.name{
    color: #1d428a; 
    background-color: #fdb927;
    text-align: center;
    font-weight: 700;
    font-family: "Open Sans","arial","Apple SD Gothic Neo","Noto Sans CJK KR","본고딕","KoPubDotum","나눔바른고딕","나눔고딕","NanumGothic","맑은고딕","Malgun Gothic",sans-serif;
}
.name3{
    
}
.name4{ 
    color: #fff;
    background-color: #1d428a;
    width: 25%;
    text-align: center;
    font-family: "Open Sans","arial","Apple SD Gothic Neo","Noto Sans CJK KR","본고딕","KoPubDotum","나눔바른고딕","나눔고딕","NanumGothic","맑은고딕","Malgun Gothic",sans-serif;
    
}
.name5{
    width: 75%;
    color: #0275d8;
}
.name6{
    width: 75%;
}